.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

html,body {padding:0; margin:0; }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0px 0px;
  background-color: #f1f1f1;
}

.settings{
  border-radius: 10px;
  width: 20%;
  height: 25%;
  padding: 1% 2% 0% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.plus{
  position:relative;
  margin-left: 30px;
  left:35px;
  top:50px;
  border: 1px dotted white;
  border-radius: 10px;
  width: 3px;
  height: 3px;
  background-color: #d5d5d5;
  box-sizing: border-box;
  transform: scale(20);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.popup .popuptext{
   visibility: hidden;
   width: 90%;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   font-size: 15px;
   position: absolute;
   z-index: 1;
   bottom: 145%;
   margin: 2px 0px 0px 0px;
   /* padding: .2px 0px .7px 0px; */
   /* top: 99%; */
}

/* .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */


.popup .showPop {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* .settings-btn{
  width: 75%;
  height: 50%;
  border-radius: 25px;
} */
/*
.settings-helper{
  background: red;
  height: 5px;
  width: 5px;
} */

.plus:hover{
  background-color: #f7f68d;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.ActivityContainer{
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  height: 60%;
  background-color: white;
  background: rgba(255,255,255, 0.75);
  padding-bottom: 4vh
}

.dropdown {
  /* float: left; */
  overflow: hidden;
  background: darkgrey;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 49.9%;
  height: 50px;
  overflow-x: scroll;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.activity{
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  /* margin-top: 6%; */
  font-size: 130%;
  background-color: darkgrey;
  color: white;
  height: 12vmax;
  display: flex;
  justify-content: center;
}

.shortActivity{
  font-size: 1.14em;
}

.longActivity{
  font-size: 1em;
}

.center-activity{
  /* background-color: red; */
  padding: 55px 0 38px 0;
}
.activity h3 {
  padding: 11% 0;
}

.choice {
  /* width: 90%;
  right: 0; */
  padding: 4vh 30px 45px 30px;
  display: flex;
  justify-content: space-around;
  /* float: left; */
}

.choice-btn {
  padding: 20px 40px;
  transition: box-shadow 0.3s linear;
  margin: 0.5em;
  border-radius: 20px;
  background-color: white;
}

/* .choice-item {
  grid
} */

.try {
  box-shadow: 0px 0px 0px 5px #d5d5d5;
}

.try:hover{
  /* border-width: 10px; */
  box-shadow: 0px 0px 0px 10px #67f4f3;
}


.bye {
  box-shadow: 0px 0px 0px 5px #d5d5d5;
}

.bye:hover{
  /* border-width: 10px; */
  box-shadow: 0px 0px 0px 10px #f367bd;
}

.slider{
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

div{
  font-family: Palatino;
}


.navContainer{
    display: flex;
    justify-content: space-around;
    height: 138px;
}

.navitem{
  background: darkgrey;
  color: white;
  padding: 20px 28px;
  margin-top: 50px;
  border-radius: 2px;
  font-weight: bold;
  font-family: Palatino;
  font-size: 20px;
}

.navitem.saved-fix{
  position: relative;

}

.swipe{
  bottom: 0;
  position: absolute;
  width:100%;
}

.navitem:hover{
  background: lightgrey;
  color: white;
  animation: rainbow 6s infinite;
}

.numberSaved {
  display: block;
  position: relative;
  right: 10.5%;
  top: 4.5%;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 6px 10px;
}

/* .saved-fix{
  margin: 100px auto;
  text-align: center;
} */

.numberSavedLoggedIn{
  /* display: block; */
  position: absolute;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  right: 155px;
  top: 83px;
  padding: 6px 10px;

}


.noneSaved{
  display: none;
  padding: 4px 4px 0 0;
}

.link{
    text-decoration:none;
    color: white;
}


.appNameContainer{
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  text-align: center;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;
  margin: auto;
}

.appName{
  font-family: Sketch3D;
  font-size: 50px;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: rainbow 6s infinite; */
}
.shadow{
    content:'';
    display: block;
    margin: -19px 0px 50px 35px;
    padding: 0px 20px;
    top: 45px;
    width: 50%;
    max-width: 180px;
    height: 10px;
    /* background: transparent; */
    /* border-radius: 100px/50px; */
    box-shadow: 0 45px 30px rgba(0,0,0,0.5);

}

@font-face{
  font-family: 'Sketch3D';
  src: local('Sketch3D'); /* IE9 Compat Modes */
}

.noneMessage{
  margin: 18% 0 0 0;
  color: dimgrey;
}

.non-nav{
  padding: 3px 5px;
}

.container{
  width: 70%;
  margin: auto;
  padding: 0px 10px 20px 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  height: 50%;
  overflow: scroll;
  background: white;
}

.journalEntries{

}

.info{
  margin: auto;
  margin-top: 5%;
}

.th {
  display: inline-block;
  padding: 10px 0px;
}

.headers{
  margin: 0 14.25%;
  position: absolute;
  background:darkgrey;
  width: 71.35%;
  border: 1px solid darkgrey;
  font-weight: bold;
  /* border-bottom: 1px solid;
  border-top: 1px solid; */
  border-radius: 5px 5px 0px 0px;
}


.activity-info{
  display: inline-block;
  float:right;

}


.saved-row{
  text-align: left;
  margin: 15px;
  background-color: darkgrey;
  border-radius: 10px;
  /* background: rgba(117,119,119, 0.5); */
  font-weight: bold;
  color: white;
}

.th{
  color: white;
}

.td{
  display: inline-block;
}

.table-activity{
  width: 55%;
}

.table-activity-j{
  width: 55%;
  margin-right: 17%;
}

.data-activity{
  text-align: center;
  width: 65%;
}

.table-category{
  width: 14%;
}
.data-category{
  text-align: center;
  width: 11.5%;
}

.tb-btn {
  margin: 4px 0px;
  border-radius: 5px;
  background-color: lightgrey;
}

.journal-btn {
  margin-left: 10%;
  text-align: center;
  width: 4%;
  border-radius: 5px;
  background-color: lightgrey;
}

.table-try, .table-journal{
  width: 8%;
}

.btn-try, .btn-journal{
  text-align: center;
  width: 4%;
  margin: 3px 2.1%;

  text-shadow:
    -1px -1px 0 #5d5e5e,
    1px -1px 0 #5d5e5e,
    -1px 1px 0 #5d5e5e,
    1px 1px 0 #5d5e5e;
}

.btn-try:hover, .btn-journal:hover{
  background-color: gainsboro;
  font-weight: bold;
}


.btn-try{
  padding: 6px 10px;
  margin-right: 5px;

}

.btn-journal{
  padding: 6px 10px;

}

.delete{
  /* margin-left: 1.5%; */
  width: 2%;
  text-align: center;
  display: inline-block;
  background-color: darkgrey;
  color:white;
  padding: 0 2px;
  border-radius: 4px;
  text-shadow:
    -1px -1px 0 #5d5e5e,
    1px -1px 0 #5d5e5e,
    -1px 1px 0 #5d5e5e,
    1px 1px 0 #5d5e5e;
}
.delete:hover{
  background-color: lightgrey;
  font-weight: bold;
}



.savedActivitiesTable .table-try {
  width:10%;
}



.form{
  display: flex;
  flex-direction: column;
  background-color:darkgrey;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 50px 0px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
}

form.form label {
  color: white;
}



.journalEntryContainer{
  width: 60%;
  height: 25%;
  margin: auto;
  /* background-color: red; */
}

.entry{
  height: 30%;
  width: 100%;
  background: red;
  font-weight: bold;
}

.specific-activity{
  padding: 10px 0;

}



a {
font-size: 15px;
}

.formName{
  /* margin-top:100px; */
  font-family: Sketch3D;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: rainbow 6s infinite;
}

.form-title{
  border: .5px solid white;
  border-radius: 10px;
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
}

.form .input, select {
  width: 70%;
  margin: auto;
  color: dimgrey;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 2px;
}

.form .submit {
  font-family: Palatino;
  padding: 6px 0px;
  color: white;
  background-color: inherit;
  border: .5px solid white;
  border-radius: 2px;
}

.submit:hover{
  background-color: lightgrey;
}

.form label {
  font-family: Palatino;
  font-weight: bold;
  color: black;
  font-size: 25px;

}

a{
  color: lightblue;
}

@keyframes rainbow{
  0%{color: #67f4f3;}
  10%{color: #f367bd;}
	20%{color: #67f4f3;}
	40%{color: #f367bd;}
	60%{color: #67f4f3;}
	100%{color: #f367bd;}
}

.form p {
  font-size: 12px;
  font-style: italic;
}

.radio{
  width:40px;
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  object-fit: fill;
  width: 100%;
  min-height: 100%;
  z-index: -99;
  opacity: .50;
}

.entryText{
  font-weight: lighter;
  font-style: italic;
}

.journalEntry{
  padding: 10px 0;
}

.journal-activity{

}

.authPrompt {
  display: inline-block;
  margin: auto;
  padding: 20px 10px;
  font-weight: bold;
  color:dimgrey;
  border-radius: 15px;
  background: white;
}

.logout{
  margin: 2% 0 0 90%;
  display: inline-block;

}

span.journal-btn.td.btn-try.tb-btn {
  margin-left: 52%;
  width: 27px;
}

span.journal-btn.delete{
  margin-left: 3.5%;
  width: 12px;
}

div.btn-position{
  display: inline-block;
  width: 35%;
}

.btn-position:after{
  content: "\a \a";
  white-space: pre;
  white-space: pre;
  padding: 100% 0;

  height: 30%;
}
